# Bonus: Temperature Analysis I

In [2]:
import pandas as pd
from datetime import datetime as dt

In [4]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'], format='%Y-%m-%d')

In [6]:
# Set the date column as the DataFrame index
date_df=df
date_df = date_df.sort_values(by='date') #.set_index('date')
date_df.head()

           station       date  prcp  tobs
0      USC00519397 2010-01-01  0.08    65
9007   USC00518838 2010-01-01  0.21    72
9518   USC00519523 2010-01-01  0.15    75
12187  USC00519281 2010-01-01  0.15    70
14959  USC00511918 2010-01-01  0.05    66

In [9]:
# Drop the date column
df.drop(columns=['date'])

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397   NaN    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128   NaN    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [10]:
from scipy import stats

In [12]:
# Filter data for desired months
month_df = date_df
month_df['month'] = pd.DatetimeIndex(month_df['date']).month

june_df = month_df.loc[month_df['month'] == 6]

dec_df = month_df.loc[month_df['month'] == 12]

In [13]:
# Identify the average temperature for June
june_avg = june_df['tobs'].mean()
june_avg

74.94411764705882

In [14]:
# Identify the average temperature for December
dec_avg = dec_df['tobs'].mean()
dec_avg

71.04152933421226

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis